ServiceTest/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsersRegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AutoTests" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsersRegistrationService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUsersRegistrationService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersRegistrationService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IUsersRegistrationService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersRegistrationService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IUsersRegistrationService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersRegistrationService_GetAllTestSets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTestSets" />
  </wsdl:message>
  <wsdl:message name="IUsersRegistrationService_GetAllTestSets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTestSetsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersRegistrationService_GetAllTests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTests" />
  </wsdl:message>
  <wsdl:message name="IUsersRegistrationService_GetAllTests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTestsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsersRegistrationService_AddTest_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTest" />
  </wsdl:message>
  <wsdl:message name="IUsersRegistrationService_AddTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTestResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsersRegistrationService">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersRegistrationService/GetAllUsers" message="tns:IUsersRegistrationService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersRegistrationService/GetAllUsersResponse" message="tns:IUsersRegistrationService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersRegistrationService/AddUser" message="tns:IUsersRegistrationService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersRegistrationService/AddUserResponse" message="tns:IUsersRegistrationService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersRegistrationService/LogIn" message="tns:IUsersRegistrationService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersRegistrationService/LogInResponse" message="tns:IUsersRegistrationService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTestSets">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersRegistrationService/GetAllTestSets" message="tns:IUsersRegistrationService_GetAllTestSets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersRegistrationService/GetAllTestSetsResponse" message="tns:IUsersRegistrationService_GetAllTestSets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTests">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersRegistrationService/GetAllTests" message="tns:IUsersRegistrationService_GetAllTests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersRegistrationService/GetAllTestsResponse" message="tns:IUsersRegistrationService_GetAllTests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsersRegistrationService/AddTest" message="tns:IUsersRegistrationService_AddTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsersRegistrationService/AddTestResponse" message="tns:IUsersRegistrationService_AddTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsersRegistrationService" type="tns:IUsersRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUsersRegistrationService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IUsersRegistrationService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IUsersRegistrationService/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTestSets">
      <soap:operation soapAction="http://tempuri.org/IUsersRegistrationService/GetAllTestSets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTests">
      <soap:operation soapAction="http://tempuri.org/IUsersRegistrationService/GetAllTests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTest">
      <soap:operation soapAction="http://tempuri.org/IUsersRegistrationService/AddTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsersRegistrationService">
    <wsdl:port name="BasicHttpBinding_IUsersRegistrationService" binding="tns:BasicHttpBinding_IUsersRegistrationService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AutoTests/UsersRegistrationService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>